// COLORS
$color-primary: #37b24d;
$color-primary-light: #2f9e44;
$color-primary-dark: #004D22;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-grey-light-1: #e9ecef;
$color-grey-light-2: #dee2e6;
$color-grey-light-3: #ced4da;

$color-grey-dark-1: #868e96;
$color-grey-dark-2: #495057;
$color-grey-dark-3: #343a40;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$color-grey: #343a40;
$color-grey-1: #505050;

$color-white: #fff;
$color-black: #000;

$color-error: #CB1A14;
$color-success: #04802E;